body {
    background-color: #2D2E33;
}
/*login*/
.navbar-header {
    background: none repeat scroll 0 0 #29C7CA;
    float: left;
    height: 50px;
}
.column_middle_grid1 {
    border-radius: 5px;
	  margin: 0 auto;
    width: 340px;
	height:410px;
}
.profile_picture {
    padding: 2em 3em;
    position: relative;
    text-align: center;
}

.profile_picture > a > img {
    border: 5px solid #50597B;
    border-radius: 8em;
    display: block;
    margin: 0 auto;
}

.profile_picture_name h2 {
    color: #FFFFFF;
    font-size: 1.5em;
    margin-bottom: 15px;
}
.profile_picture_name p {
    color: #9099B7;
    font-size: 1em;
    line-height: 1.6em;
}
.profile_picture a {
    display: block;
}

.profile_picture_name {
    padding-top: 2em;
}
.profile_picture span {
    position: absolute;
    right: 10px;
    top: 10px;
}
.articles_list {
    background: none repeat scroll 0 0 #50597B;
    border-radius: 0 0 5px 5px;
    text-align: center;
}

.articles_list li {
    border-right: 1px solid #1F253D;
    float: left;
    width: 33.1%;
}

.articles_list li:nth-child(3) {
    border-right: medium none;
}

.articles_list li a.red {
    border-top: 5px solid #E64C65;
}
.articles_list li a {
    color: #FFFFFF;
    display: block;
    font-size: 1em;
    padding: 20px 0;
    transition: all 0.5s ease-in-out 0s;
}

.articles_list li a img {
    padding-right: 5px;
    vertical-align: middle;
}
img {
    max-width: 100%;
}

.articles_list li a.purple {
    border-top: 5px solid #11A8AB;
}

.articles_list li a.yellow {
    border-top: 5px solid #FCB150;
}
.login{
	margin-top: 8px;
    padding: 6px;
    width: 100%;
	}
/**/
.mytopbar{
	background-color:#2D2E33;
	}
.mytopbar a {
    color: #FFFFFF;
}
.navbar-default, .sidebar-collapse{
	border:none;
	
	}
.navbar-default .navbar-brand{
	color:#FFFFFF;
	}
.nav > li > a:hover, .nav > li > a:focus{
	background-color:#2AA3D8;
	}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #5A5A51;
}
.sidebar-collapse {
    background-color: #363636;
    border-color: #333333;
}
.navbar-static-side ul li {
	border:none !important;
    border-bottom: 1px solid #333333;	
}
.list-group-item {
    border: none;
	border-bottom: 1px solid #333333;
}
.panel-default > .panel-heading {
    background-color: #29C7CA;
    border-color: #DDDDDD;
    color: #FFFFFF;
}
.page-header {
    margin: 12px 0 20px;
}
.panel-body .row .portfolio-item {
    margin-bottom: 25px;
}
.panel-body .row:last-child .portfolio-item{
    margin-bottom: 0px;
}
.list-group {
    margin-bottom: 0px;
}
.currrent-message{
	
	}
.notification-panel{
	
	margin-bottom:0;
	}
.notification-panel .panel-heading a{
	color:#CCC;
	}
.notification-panel .panel-body{
	padding:0;
	margin-bottom:0;
	}
.notification-panel .panel-body	.list-group-item{
	border-bottom: 1px solid #DDDDDD;
	}
.thumbnail {
    border-radius: 0px;
    margin-bottom: 20px;
    padding: 0px;
}
.notification-panel .panel-heading{
	padding:0;
	}
#id_home {
    width: 38%;
}
#id_profile {
    width: 62%;
}
.btn-group.pull-right.logout {
    margin-left: 10px;
    margin-top: 3px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border-bottom: 1px solid #FFFFFF;
	border-color: rgba(0, 0, 0, 0);
	}
.btn.btn-xs.btn-primary.ask {
    float: right;
    margin-top: 10px;
    width: 90px;
}
.active-menu{
	background-color: #FFF;
	}
.active-menu a{
	color:#000;
	}
iframe {
    width: 100%;
	border:0;
	min-height:410px;
}

@media (min-width: 768px) and (max-width: 979px) {
	.mytopbar {
		background-color: black;
	}
	.col-md-4 {
		width: 33.3333%;
		float:left;
	}
	.student .portfolio-item{
		width: 16.6667%;
		}
	}
@media (max-width: 768px) {
	.mytopbar {
		background-color: green;
	}
	.col-lg-8 {
		width: 100%;
	}
	.col-lg-4 {
		width: 33.3333%;
	}
	.col-md-4 {
    float: left;
    width: 33.3333%;
}
.notification{
	width:100%;
	}
	.portfolio-item{
		width: 16.6667%;
		float:left;
		}
	.teacher .col-md-4 {
    float: left;
    width: 33.3333%;
}
	 }
@media (max-width: 540px) {
	.mytopbar {
		background-color: red;
	}
	.col-lg-8 {
		width: 100%;
	}
	.col-lg-4 {
		width:100%;
	}
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
	}
	.panel-body {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.thumbnail {
		border-radius: 0;
		margin-bottom: 5px;
		padding: 0;
	}
}